<div th:fragment="medicalProcedures" id="selectMedicalProcedure" class="mb-4 p-4">
    <label for="medicalProcedure" class="inline-flex text-sm font-medium text-gray-700">Procedimento:</label>
    <select id="medicalProcedure" th:name="medicalProcedure"
            class="w-full mt-1 inline-flex p-2 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
            th:disabled="${#lists.isEmpty(procedures)}" required>
        <option th:value="${null}">Selecione</option>
        <option th:each="procedure : ${procedures}"
                th:value="${procedure.id}"
                th:text="${procedure.description}"
                th:selected="${procedure.id == selectedMedicalProcedure}"></option>
    </select>
</div>