<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="patient-details" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4 p-2">
        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Nome:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.name} : *{patient.name}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Cartão SUS:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.susNumber} : *{patient.susNumber}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">CPF:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.cpf} : *{patient.cpf}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Sexo:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.gender} : *{patient.gender}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Data de Nascimento:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.getBirthDateWithAge()} : *{patient.getBirthDateWithAge()}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Situação Social:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.socialSituationRating.getDescription()} : *{patient.socialSituationRating.getDescription()}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Telefone:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.phoneNumber} : *{patient.phoneNumber}"></span>
        </p>

        <p class="flex flex-col sm:col-span-2">
            <span class="font-semibold text-gray-700">Logradouro:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.addressStreet + ', ' + appointment.patient.addressNumber + ', ' + appointment.patient.addressComplement} : *{patient.addressStreet + ', ' + patient.addressNumber + ', ' + patient.addressComplement}"></span>
        </p>

        <p class="flex flex-col sm:col-span-2 md:col-span-1">
            <span class="font-semibold text-gray-700">Ponto de Ref.:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.addressReference} : *{patient.addressReference}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">UBS:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.basicHealthUnit.name} : *{patient.basicHealthUnit.name}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">ACS Responsável:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{appointment.patient.acsName} : *{patient.acsName}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Cadastrado em:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{#temporals.format(appointment.patient.creationDate, 'dd/MM/yyyy HH:mm')} : *{#temporals.format(patient.creationDate, 'dd/MM/yyyy HH:mm')}"></span>
        </p>

        <p class="flex flex-col">
            <span class="font-semibold text-gray-700">Última atualização:</span>
            <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                  th:text="${isContemplated} ? *{#temporals.format(appointment.patient.updateDate, 'dd/MM/yyyy HH:mm')} : *{#temporals.format(patient.updateDate, 'dd/MM/yyyy HH:mm')}"></span>
        </p>

        <p class="col-span-full text-right">
            <button class="px-4 p-1.5 bg-blue-600 text-white font-medium rounded-md shadow-lg hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 transition-colors duration-300">
                Acessar Paciente
            </button>
        </p>
    </div>
</body>
</html>