<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/template :: head}"></head>

<body class="flex w-full h-screen justify-between items-center bg-slate-900">
    <nav th:replace="~{fragments/sidebar :: sidebar}"></nav>
    <main class="flex flex-col h-screen w-full mx-auto bg-slate-100">
        <header th:replace="~{fragments/navbar :: header}"></header>
        <div class="flex flex-1 bg-slate-100 my-8 flex-col space-y-4">
            <div class="w-full">
                <input type="checkbox" id="panel1" class="peer hidden" checked>
                <label for="panel1" class="block bg-gray-700 text-white p-4 cursor-pointer">
                    Agendar paciente
                </label>
                <div class="peer-checked:max-h-screen max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
                    <div class="p-4 bg-white border border-gray-300">
                        <div class="relative w-3/4">
                            <label for="patientSearch">Buscar paciente:</label>
                            <div class="relative w-full">
                                <input type="search" id="patientSearch" name="patientSearch"
                                       class="w-full p-2 border border-gray-300 rounded"
                                       placeholder="Digite um nome, Cartão SUS ou CPF"
                                       hx-get="/patient-scheduling/search"
                                       hx-trigger="input changed delay:500ms, patientSearch"
                                       hx-target="#dropdown"/>
                                <div id="dropdown"
                                     class="absolute bg-white border border-gray-300 w-full mt-1 rounded shadow-lg hidden z-10"></div>
                            </div>
                        </div>
                        <br>
                        <form th:action="@{/patient-scheduling/create}" method="post" th:object="${patientScheduling}">
                            <div>
                                <label>Nome completo: </label><span th:text="*{patient.name}"></span>
                            </div>
                            <div>
                                <label>Cartão SUS: </label><span th:text="*{patient.susNumber}"></span>
                            </div>
                            <div>
                                <label>CPF: </label><span th:text="*{patient.cpf}"></span>
                            </div>
                            <div>
                                <label>Data de Nascimento: </label><span
                                    th:text="*{patient.formattedBirthDate()}"></span>
                            </div>
                            <div>
                                <label>Situação Social: </label><span
                                    th:text="*{patient.socialSituationRating != null ? patient.socialSituationRating.description : null}"></span>
                            </div>
                            <div>
                                <label>Telefone: </label><span th:text="*{patient.phoneNumber}"></span>
                            </div>
                            <div>
                                <label>Logradouro: </label><span th:text="*{patient.addressStreet}"></span>
                            </div>
                            <div>
                                <label for="specialty">Especialidade: </label>
                                <select id="specialty" name="specialty" required>
                                    <option th:value="${null}">Selecione</option>
                                    <option th:each="specialty : ${specialties}"
                                            th:value="${specialty.id}"
                                            th:text="${specialty.title}"></option>
                                </select>
                                <label for="procedureType">Procedimento: </label>
                                <select id="procedureType" name="procedureType"
                                        hx-get="/patient-scheduling/procedures"
                                        hx-target="#selectProcedureAndPriority"
                                        hx-include="[name='specialty']" disabled required>
                                    <option th:value="${null}">Selecione</option>
                                    <option th:each="type : ${T(br.com.tecsus.sccubs.enums.ProcedureType).values()}"
                                            th:value="${type.toString()}"
                                            th:text="${type.description}"></option>
                                </select>
                                <div id="selectProcedureAndPriority">
                                    <label for="medicalProcedure">Procedimento: </label>
                                    <select id="medicalProcedure" th:name="medicalProcedure.id" th:field="*{medicalProcedure}" disabled required>
                                        <option th:value="${null}">Selecione</option>
                                    </select>
                                    <label for="priority">Prioridade: </label>
                                    <select id="priority" th:name="priority" th:field="*{priority}" disabled required>
                                        <option th:value="${null}">Selecione</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="observation">Observações: </label>
                                <textarea id="observation" name="observation" th:field="*{observation}" rows="4" cols="70"></textarea>
                            </div>
                            <input type="hidden" id="id" th:field="*{patient.id}"/>
                            <button>Agendar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <input type="checkbox" id="panel2" class="peer hidden">
                <label for="panel2" class="block bg-gray-700 text-white p-4 cursor-pointer">
                    Agendamentos em aberto
                </label>
                <div class="peer-checked:max-h-screen max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
                    <div class="p-4 bg-white border border-gray-300">
                        <p>Conteúdo de Agendamentos em aberto.</p>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <input type="checkbox" id="panel3" class="peer hidden">
                <label for="panel3" class="block bg-gray-700 text-white p-4 cursor-pointer">
                    Histórico do paciente
                </label>
                <div class="peer-checked:max-h-screen max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
                    <div class="p-4 bg-white border border-gray-300">
                        <p>Conteúdo de Histórico do paciente.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </main>
</body>

<script>
    $(document).click(function (event) {
        var target = $(event.target);
        if (!target.closest('#dropdown').length && !target.closest('#patientSearch').length) {
            $('#dropdown').hide();
        }
    });

    $('#patientSearch').on('input', function () {
        $('#dropdown').show();
    });

    $(document).ready(function() {

        // Adicionar um evento de mudança para o select specialty
        $('#specialty').change(function() {
            // Verificar se o valor selecionado é válido (diferente de nulo)
            if ($(this).val()) {
                // Habilitar o select procedureType
                $('#procedureType').prop('disabled', false).val(null);
                $('#medicalProcedure').prop('disabled', true).empty().append('<option th:value="${null}">Selecione</option>');
                $('#priority').prop('disabled', true).empty().append('<option th:value="${null}">Selecione</option>');
            } else {
                // Desabilitar o select procedureType se o valor for nulo
                $('#procedureType').prop('disabled', true).val(null);
            }
        });

    });

</script>
<style>
    .transition-max-height {
        transition-property: max-height;
    }
</style>
</html>
