<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/template :: head}"></head>
<body class="flex w-full h-screen justify-between items-center bg-slate-900">
    <nav th:replace="~{fragments/sidebar :: sidebar}"></nav>
    <main class="flex flex-col h-screen w-full mx-auto bg-slate-100">
        <header th:replace="~{fragments/header :: header}"></header>
        <div>
            <h1>Dados do Paciente</h1>
<!--            <span class="htmx-indicator">-->
<!--                <img th:src="@{/images/loading.gif}" alt="none"/> Salvando...-->
<!--            </span>-->
            <th:block th:if="${true}">
                <div th:replace="~{patientManagement/patientFragments/patient-form :: patientForm}"></div>
            </th:block>
        </div>

    </main>
</body>
</html>