<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/template :: head}"></head>

<body class="flex w-full flex-1 h-dvh justify-between items-center bg-slate-300">
    <nav th:replace="~{fragments/sidebar :: sidebar}"></nav>

    <!-- Main Container-->
    <main class="flex flex-col h-full w-full overflow-hidden">
        <header th:replace="~{fragments/header :: header}"></header>

        <!--Wrap Container -->
        <section class="flex flex-col flex-1 overflow-auto">

            <!--Card-Bars-->
            <div class="flex flex-col mx-4 justify-start items-center">
                <!--Panel 1-->
                <div class="w-full bg-white rounded-lg mt-4">
                    <input type="checkbox" id="panel1" class="peer hidden" th:checked="${true}">
                    <label for="panel1" class="text-slate-200 tracking-wide block bg-slate-900 py-4 px-4 rounded-lg cursor-pointer border-2 border-slate-600 hover:bg-slate-800 hover:border-blue-500">
                        <div class="flex items-center">
                            <span class="material-symbols-outlined mr-4">person_add</span>Cadastrar Especialidades
                        </div>
                    </label>
                    <div class="flex justify-center peer-checked:max-h-screen max-h-0 overflow-hidden overscroll-contain transition-max-height duration-500 ease-in-out">
                        <div th:replace="~{specialtyManagement/specialtyFragments/specialty-form :: specialtyForm}"></div>
                    </div>
                </div>

                <!--Panel 2-->
                <div class="w-full bg-white rounded-lg my-4">
                    <input type="checkbox" id="panel2" class="peer hidden" th:checked="${true}">
                    <label for="panel2" class="text-slate-200 tracking-wide block bg-slate-900 py-4 px-4 rounded-lg cursor-pointer border-2 border-slate-600 hover:bg-slate-800 hover:border-blue-500">
                        <div class="flex items-center">
                            <span class="material-symbols-outlined mr-4">person_search</span> Especialidades
                        </div>
                    </label>

                    <!--Start Card Formulario Busca e Listagem-->
                    <div class="flex flex-col justify-center peer-checked:max-h-full max-h-0 overflow-hidden overscroll-contain transition-max-height duration-500 ease-in-out">
                        <div class="mt-4">
                            <div class="pb-4 px-4 rounded-lg" id="datatable-panel">
                                <div th:replace="~{specialtyManagement/specialtyFragments/specialty-info :: specialtyInfo}"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>
<script>
    $(document).ready(function() {
        var procedures = [];
        $('#addProcedureBtn').click(function() {
            // Obter os valores dos campos de entrada
            var procedureName = $(`#procedure`).val();
            var procedureType = $('#procedureType option:selected').text();

            // Verificar se os campos estão preenchidos
            if(procedureName && procedureType !== "Selecione") {
                // Adicionar uma nova linha à tabela
                $('#procedureTable tbody').append('<tr><td>' + procedureName + '</td><td>' + procedureType + '</td></tr>');

                procedures.push({ description: procedureName, procedureType: procedureType });

                // Limpar os campos de entrada
                $('#procedure').val('').prop('disabled', false);
                $('#procedureType').prop('selectedIndex', 0);
            } else {
                alert("Por favor, preencha ambos os campos antes de adicionar um procedimento.");
            }
        });

        $('form').submit(function() {
            // Converter o array de procedimentos em JSON e definir no campo oculto
            $('#proceduresJson').val(JSON.stringify(procedures));
        });

        $('#procedureType').change(function() {
            var selectedValue = $('#procedureType option:selected').val();
            if (selectedValue === "Consulta") {
                $('#procedure').val('-').prop('disabled', true);
            } else {
                $('#procedure').prop('disabled', false);
            }
        });
    });
</script>
</html>