<div th:fragment="schedulingForm">
    <h1>Informações do paciente</h1>
    <form th:action="@{/}" method="post" th:object="${patient}">
        <div>
            <label>Nome completo: </label><span th:text="*{name}"></span>
        </div>
        <div>
            <label>Cartão SUS: </label><span th:text="*{susNumber}"></span>
        </div>
        <div>
            <label>CPF: </label><span th:text="*{cpf}"></span>
        </div>
        <div>
            <label>Data de Nascimento: </label><span th:text="*{formattedBirthDate()}"></span>
        </div>
        <div>
            <label>Situação Social: </label><span th:text="*{socialSituationRating.description}"></span>
        </div>
        <div>
            <label>Telefone: </label><span th:text="*{phoneNumber}"></span>
        </div>
        <div>
            <label>Logradouro: </label><span th:text="*{addressStreet}"></span>
        </div>
        <input type="hidden" id="id" th:field="*{id}"/>

    </form>

</div>