<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/template :: head}"></head>
<body>
    <form th:fragment="availableMedicalSlotsFormTable"
          id="availableMedicalSlotsFormTable"
          th:object="${availableMedicalSlotsForm}"
          th:action="@{/basicHealthUnit-management/slots/create}"
          method="post">
        <table>
            <thead>
            <tr>
                <th>Qtde. de Vagas</th>
                <th>Especialidade</th>
                <th>Marcação</th>
                <th>Procedimento</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row, itemStat : ${availableMedicalSlotsForm.availableMedicalSlots}">
                <td th:text="${row.totalSlots}"></td>
                <td th:text="${row.medicalProcedure.specialty.title}"></td>
                <td th:text="${row.medicalProcedure.procedureType.description}">
                </td>
                <td th:text="${row.medicalProcedure.description}">
                </td>
                <td>
                    <input type="hidden" th:name="|availableMedicalSlots[${itemStat.index}].totalSlots|" th:value="${row.totalSlots}">
                </td>
                <td>
                    <input type="hidden" th:name="|availableMedicalSlots[${itemStat.index}].medicalProcedure.id|" th:value="${row.medicalProcedure.id}">
                </td>
                <td>
                    <input type="hidden" th:name="|availableMedicalSlots[${itemStat.index}].basicHealthUnit.id|" th:value="${row.basicHealthUnit.id}">
                </td>
                <td>
                    <a th:attrappend="hx-get=@{/basicHealthUnit-management/slots/{index}/remove(index = ${itemStat.index})}"
                       hx-target="#availableMedicalSlotsFormTable"
                       hx-swap="outerHTML"
                       href="">Remover</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>