<!--<div th:fragment="dropdownPatient"-->
<!--     th:each="patient : ${patients}"-->
<!--     class="w-full p-2 hover:bg-gray-200"-->
<!--     style="cursor: pointer;"-->
<!--     th:attr="hx-get=@{/appointment-management/load(id=${patient.id})}"-->
<!--     hx-trigger="click"-->
<!--     hx-target="#schedulingForm">-->
<!--    <strong>NOME: </strong><span th:text="${patient.name.toUpperCase()}"></span>-->
<!--    <strong> - SUS: </strong><span th:text="${patient.susNumber}"></span>-->
<!--    <strong> - CPF: </strong><span th:text="${patient.cpf}"></span>-->
<!--</div>-->

<div id="dropdown" class="absolute bg-white border border-gray-300 w-full mt-1 rounded shadow-lg z-10"
     th:classappend="${#lists.isEmpty(patients) ? 'hidden' : ''}" th:fragment="dropdownPatient">
    <ul>
        <li th:each="patient : ${patients}"
            class="w-full p-2 hover:bg-gray-200">
            <a th:href="@{/appointment-management/load(id=${patient.id})}">
                <strong>NOME: </strong><span th:text="${patient.name.toUpperCase()}"></span>
                <strong> - SUS: </strong><span th:text="${patient.susNumber}"></span>
                <strong> - CPF: </strong><span th:text="${patient.cpf}"></span>
            </a>
        </li>
    </ul>
</div>

<div id="dropdown"
     class="absolute bg-white border border-gray-300 w-full mt-1 rounded shadow-lg z-10"
     th:classappend="${#lists.isEmpty(patients) ? 'hidden' : ''}"
     th:fragment="dropdownPatientAutocomplete">
    <ul>
        <li th:each="patient : ${patients}"
            th:onclick="autocompleteInputSearch([[${patient.name}]])"
            class="w-full p-2 hover:bg-gray-200 cursor-pointer">
            <span class="text-slate-600 font-medium"
                  th:text="${patient.name}"></span>
        </li>
    </ul>
</div>