<header th:fragment="header"
        class="hidden top-0 left-0 items-center sm:flex sm:relative h-16 w-full sm:justify-end bg-slate-200 pr-8 space-x-8 border-b-6 border-slate-100"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="flex w-38 justify-center items-center pl-6">
        <img class="w-38" th:src="@{/images/siga-ubs.svg}" alt="logo-principal">
    </div>
    <div class="flex h-16 w-full relative">
<!--        <label for="search-input" >-->
<!--            <span class="text-gray-600 hover:text-blue-400 absolute inset-y-5 left-2 material-symbols-outlined">search</span>-->
<!--        </label>-->
<!--        <input id="search-input" type="text" class="w-full pl-10 pr-4 py-2 outline-none bg-transparent hover:bg-white transition duration-500" placeholder="Inicie uma busca">-->
    </div>
    <div class="flex items-center space-x-4 ">
        <div class="font-bold text-slate-700 hover:text-blue-500 transition duration-500">
            <a th:remove="tag" sec:authentication="name">thymeleaf</a>
            <p class="text-sm font-light text-slate-900">Manager</p>
        </div>
        <div class="w-10 h-10 rounded-full bg-slate-100 ring-2 ring-slate-200 hover:ring-2 hover:ring-blue-500 transition duration-500">
            <!--Foto-User-->
        </div>
    </div>
</header>