<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.build.tailwind.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.dev.tailwind.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<!--    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>-->
    <script th:src="@{/js/htmx.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,1,0" />
    <title>SIGA-UBS</title>
</head>
<body>
<!--    Conteúdo-->
</body>
</html>