<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/template :: head}"></head>

<body id="body" class="flex w-screen h-dvh items-center">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>
    <main class="flex flex-col h-full w-full">
        <!--Wrap Container -->
        <section class="flex flex-col h-screen w-full justify-center items-center overflow-hidden">
            <header th:replace="~{fragments/header :: header}"></header>
            <div>
                <h3 class="text-2xl font-bold text-slate-700">Informações relevantes...</h3>
                <p class="text-xl text-slate-700">Um card para cada UBS: Hover no card para ver detalhes (modal)</p>
                <p class="text-xl text-slate-700">Gráfico de linha diário: marcações cadastradas (todas as UBS)</p>
                <p class="text-xl text-slate-700">Gráfico de linha mensal: total de marcações em aberto x total de contemplados</p>
                <p class="text-xl text-slate-700">Gráfico de pizza: perfil dos agendamentos cadastrados (classificação de risco [+4 meses, urgente, prioridade e eletivo])</p>
                <p class="text-xl text-slate-700">Apresentar status da rotina de contemplação (se rodou ou não)</p>
            </div>
            <div class="flex flex-col flex-1 justify-center items-center h-full w-full bg-white">
                <div class="flex flex-col sm:flex-row gap-2 justify-center items-center">
                    <div class="w-8 h-8 border-4 border-x-4 border-slate-200 border-solid rounded-full animate-spin border-x-slate-700"></div>
                    <p class="text-xl text-slate-700 font-bold">Dashboard em construção</p>
                </div>
            </div>
        </section>
<!--        <footer th:replace="~{fragments/footer :: footer}"></footer>-->
    </main>
</body>
</html>

