<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/template :: head}"></head>
<body class="flex w-full min-h-screen justify-between bg-slate-900">
    <nav th:replace="~{fragments/sidebar :: sidebar}"></nav>
    <main class="flex flex-col w-full mx-auto bg-slate-100">
        <header th:replace="~{fragments/header :: header}"></header>

        <th:block th:replace="~{fragments/dialogs :: confirmDialog}"></th:block>

        <div class="flex flex-1 bg-slate-100 my-8 flex-col space-y-4">
            <div class="w-full">
                <input type="checkbox" id="panel2" class="peer hidden" th:checked="${true}">
                <label for="panel2" class="block bg-gray-700 text-white p-4 cursor-pointer">
                    Cadastrar Unidade Básica de Saúde
                </label>
                <div class="peer-checked:max-h-[2000px] max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
                    <div class="p-4 bg-white border border-gray-300">
                        <form th:action="${basicHealthUnit.id == null} ? @{/basicHealthUnit-management/create} : @{/basicHealthUnit-management/update}"
                              method="post" th:object="${basicHealthUnit}">
                            <div>
                                <label for="name">Nome da Unidade:</label>
                                <input type="text" id="name" th:field="*{name}" name="name" required>
                            </div>
                            <br>
                            <div>
                                <label for="neighborhood">Bairro:</label>
                                <input type="text" id="neighborhood" th:field="*{neighborhood}" name="neighborhood" required>
                            </div>
                            <br>
<!--                            <div>-->
<!--                                <label for="cityHall">Nome:</label>-->
<!--                                <input type="text" id="cityHall" th:field="*{cityHall.name}" name="cityHall" disabled-->
<!--                                       style="width: 300px">-->
<!--                            </div>-->
                            <br>
                            <input type="hidden" id="id" th:field="*{id} "/>
                            <div>
                                <button type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <input type="checkbox" id="panel3" class="peer hidden" th:checked="${true}">
                <label for="panel3" class="block bg-gray-700 text-white p-4 cursor-pointer">
                    Atualizar Unidade Básica de Saúde
                </label>
                <div class="peer-checked:max-h-screen max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
                    <div class="p-4 bg-white border border-gray-300">
                        <div>
                            <form th:action="@{/basicHealthUnit-management}" method="post" style="display:inline;">
                                <label for="basicHealthUnit">Unidades Básicas de Saúde:</label>
                                <select id="basicHealthUnit" name="basicHealthUnit"
                                        hx-get="/basicHealthUnit-management/systemUsers"
                                        hx-target="#systemUsersUBStable">
                                    <option th:value="${null}">Selecione</option>
                                    <option th:each="ubs : ${basicHealthUnits}"
                                            th:value="${ubs.id}"
                                            th:text="${ubs.name}">
                                    </option>
                                </select>
                                <button type="submit">Editar</button>
                                <button type="submit" th:formaction="@{/basicHealthUnit-management/delete}">Deletar</button>
                            </form>
                        </div>
                        <div>
                            <form id="attachSystemUserForm"
                                  hx-post="/basicHealthUnit-management/systemUser/add"
                                  hx-target="#systemUsersUBStable"
                                  hx-include="[name='basicHealthUnit']">
                                <!--              hx-on::after-request="if(event.detail.successful) { setTimeout(() => { this.reset(); }, 3000); }" >-->

                                <label for="systemUserSearch">Buscar usuário:</label>
                                <div class="relative w-1/2">
                                    <input type="search" id="systemUserSearch" name="systemUserSearch"
                                           class="w-1/3 p-2 border border-gray-300 rounded" placeholder="Buscar..."
                                           hx-get="/basicHealthUnit-management/systemUser/search"
                                           hx-trigger="input changed delay:500ms, systemUserSearch"
                                           hx-target="#dropdown"/>
                                    <div id="dropdown"
                                         class="absolute bg-white border border-gray-300 w-1/3 mt-1 rounded shadow-lg hidden"></div>
                                    <input type="text" id="idSystemUser" th:name="idSystemUser" th:value="${null}"
                                           style="display: none"/>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <button id="attachButton">Adicionar</button>
                                </div>
                            </form>
                        </div>
                        <div id="systemUsersUBStable">
                            <table>
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Perfil</th>
                                    <th>Ativo</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="4">Sem registro</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </main>
</body>
<script>
    $(document).ready(function () {
        // Click event for <span> elements inside #dropdown
        $('#dropdown').on('click', 'div', function () {
            var selectedText = $(this).find('span').text();
            var selectedId = $(this).find('input').val();
            $('#systemUserSearch').val(selectedText);
            $('#idSystemUser').val(selectedId);
            $('#dropdown').hide();
        });

        // Click event for clicking outside of the dropdown
        $(document).click(function (event) {
            var target = $(event.target);
            if (!target.closest('#dropdown').length && !target.closest('#systemUserSearch').length) {
                $('#dropdown').hide();
            }
        });

        // Show the dropdown when typing in the input
        $('#systemUserSearch').on('input', function () {
            $('#dropdown').show();
        });


        // Adicionar um evento de mudança para o select specialty
        $('#specialty').change(function() {
            // Verificar se o valor selecionado é válido (diferente de nulo)
            if ($(this).val()) {
                // Habilitar o select procedureType
                $('#procedureType').prop('disabled', false).val(null);
                $('#medicalProcedure').prop('disabled', true).empty().append('<option th:value="${null}">Selecione</option>');
                $('#priority').prop('disabled', true).empty().append('<option th:value="${null}">Selecione</option>');
            } else {
                // Desabilitar o select procedureType se o valor for nulo
                $('#procedureType').prop('disabled', true).val(null);
            }
        });

        //var procedures = [];
        /*$('#addMedicalSlot').click(function() {
            // Obter os valores dos campos de entrada
            let totalSlots = $('#totalSlots').val();
            let specialtyName = $('#specialty option:selected').text();
            let procedureType = $(`#procedureType option:selected`).text();
            let medicalProcedure = $('#medicalProcedure option:selected').text();

            // Verificar se os campos estão preenchidos
            if(specialtyName && procedureType && medicalProcedure !== "Selecione" && totalSlots && totalSlots > 0) {
                // Adicionar uma nova linha à tabela
                const newRow = `
                    <tr>
                        <td>${totalSlots}<input procedureType="hidden" name="totalSlots"></td>
                        <td>${specialtyName}</td>
                        <td>${procedureType}</td>
                        <td>${medicalProcedure}</td>
                        <td><button procedureType="button" class="remove-row-btn">Remover</button></td>
                    </tr>
                `;

                $('#availableMedicalSlotsTable tbody').append(newRow);

                $('.remove-row-btn').off('click').on('click', function() {
                    $(this).closest('tr').remove(); // Remove a linha correspondente ao botão clicado
                });

                //procedures.push({ description: procedureName, procedureType: procedureType });

                // Limpar os campos de entrada
                $('#medicalProcedureDescription').val('').prop('disabled', false);
                $('#procedureType').prop('selectedIndex', 0);
            } else {
                alert("Por favor, preencha todos os campos corretamente e adicione um número de vagas válido.");
            }
        });*/

        $('#procedureType').change(function() {
            let selectedValue = $('#procedureType option:selected').val();
            if (selectedValue === "Consulta") {
                $('#procedure').val('-').prop('disabled', true);
            } else {
                $('#procedure').prop('disabled', false);
            }
        });


        /*$('#attachButton').on('click', function() {
            //$("#attachSystemUserForm").submit();
            $('#idSystemUser').val('');
            $('#systemUserSearch').val('');
        });*/
    });
</script>
</html>

