<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/template :: head}"><title>Login</title></head>

<body class="flex flex-col h-screen w-full justify-evenly items-center bg-slate-900">

    <!--Start Container Principal-->
    <main class="flex flex-col w-full h-screen mx-auto justify-center items-center">
        <!--Start Card -->
        <section class="flex flex-col h-2/8 w-1/4 justify-evenly items-center bg-white rounded-lg drop-shadow-xl py-10 px-10 space-y-4">
            <div class=" flex flex-col justify-center items-center space-y-2">
                <a href=""><img class="w-36 transition hover:opacity-80" th:src="@{/images/logo-v2.svg}" alt="logo-principal"></a>
                <a href="/"><img class="w-36 transition hover:opacity-80" th:src="@{/images/siga-ubs.svg}" alt="nome-logo-principal"></a>
            </div>
            <form class="flex flex-col w-full rounded-lg justify-between items-center px-4 space-y-6 pb-6 " th:action="@{/login}" method="post">

                    <input id="username" name="username" type="text" placeholder="Nome de Usuário"
                           class=" rounded-lg border border-stroke py-2 pl-4 w-full outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200 focus:shadow-lg">



                        <input id="password" name="password" type="password" placeholder="Senha"
                               class=" rounded-lg border border-stroke py-2 pl-4 w-full outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200 focus:shadow-lg">

                        <div th:if="${param.error}" class="flex bg-red-200 w-full m-2 rounded-lg p-2 justify-center">
                            <p  class="error text-red-500">Usuário ou senha incorretos.</p>
                        </div>

                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>

                    <input type="submit" value="Entrar"
                           class="mt-2 rounded-lg bg-slate-900 py-2 px-8 text-white cursor-pointer transition duration-200 hover:bg-blue-500">

            </form>
            <div class="text-center">
                <span class="text-gray-500">Esqueceu a Senha? <a href="/" class="text-blue-500 hover:text-slate-900">Recuperar</a> </span>
            </div>
        </section>
    </main>

    <div class="flex h-20 mx-auto w-full">
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>

</body>
</html>