<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/template :: head}"></head>

<body class="flex w-full flex-1 h-dvh justify-between items-center bg-slate-300">
    <nav th:replace="~{fragments/sidebar :: sidebar}"></nav>

    <!-- Main Container-->
    <main class="flex flex-col h-full w-full overflow-hidden">
        <header th:replace="~{fragments/header :: header}"></header>

        <!--Wrap Container -->
        <section class="flex flex-col flex-1 overflow-auto">

            <!--Err classes -->
            <th:block th:replace="~{fragments/dialogs :: confirmDialog}"></th:block>

            <!--Card-Bars-->
            <div class="flex flex-col mx-4 justify-start items-center">

                <!--Panel 1-->
                <div class="w-full bg-white rounded-lg mt-4">
                    <input type="checkbox" id="panel1" class="peer hidden" th:checked="${true}">
                    <label for="panel1" class="text-slate-200 tracking-wide block bg-slate-900 py-4 px-4 rounded-lg cursor-pointer border-2 border-slate-600 hover:bg-slate-800 hover:border-blue-500">
                        <div class="flex items-center">
                            <span class="material-symbols-outlined mr-4">person_add</span>Cadastrar Usuário
                        </div>
                    </label>

                    <!--Start Card Formulario Cadastro-->
                    <div class="flex justify-center peer-checked:max-h-screen max-h-0 overflow-hidden overscroll-contain transition-max-height duration-500 ease-in-out">
                        <form class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 rounded-lg gap-x-4 py-4 px-4 w-full" th:action="${systemUser.id == null} ? @{/systemUser-management/create} : @{/systemUser-management/update}" method="post" th:object="${systemUser}">

                            <div class="flex flex-col w-full col-span-2 sm:col-span-1">
                                <label class="text-sm" for="username">Nome de Usuário:</label>
                                <input class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                                       type="text" id="username" th:field="*{username}" th:disabled="${systemUser.username != null}"
                                       placeholder="Crie o seu nome de usuário" name="username" required>
                            </div>
                            <div class="flex flex-col w-full col-span-2 sm:col-span-1">
                                <label class="text-sm" for="email">E-mail:</label>
                                <input class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                                       placeholder="Digite seu E-mail" type="email" id="email" th:field="*{email}" name="email" required>
                            </div>
                            <div class="flex flex-col w-full col-span-2 sm:col-span-1">
                                <label class="text-sm" for="password">Senha de Acesso:</label>
                                <input class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                                       placeholder="Digite uma Senha" type="password" id="password"  name="password" required>
                            </div>
                            <div class="flex flex-col w-full col-span-2 sm:col-span-1">
                                <label class="text-sm" for="confirmPassword">Confirmação de Senha:</label>
                                <input class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                                       placeholder="Confirme a sua Senha" type="password" id="confirmPassword" name="confirmPassword" required>
                            </div>

                            <hr class="col-span-2 lg:col-span-4 mt-4 mb-2">

                            <div class="flex flex-col w-full col-span-2 sm:col-span-2">
                                <label class="text-sm" for="name">Nome Completo:</label>
                                <input class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                                       placeholder="Digite o Nome Completo do Usuário" type="text" id="name" th:field="*{name}" name="name" required>
                            </div>

                            <div class="flex flex-col w-full col-span-2 sm:col-span-1">
                                <label class="text-sm text-nowrap overflow-hidden overflow-ellipsis" for="basicHealthUnit">Selecione a Ubs:</label>
                                <select id="basicHealthUnit" name="basicHealthUnit"
                                         class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200">
                                    <option value="" disabled
                                            th:selected="*{basicHealthUnit == null}">Selecione UBS</option>
                                    <option th:each="ubs : ${basicHealthUnits}"
                                            th:value="${ubs.id}"
                                            th:text="${ubs.name}"
                                            th:selected="*{basicHealthUnit != null} ? ${ubs.id} == *{basicHealthUnit.id} : false"></option>
                                </select>
                            </div>

                            <div class="flex flex-col w-full col-span-2 sm:col-span-1">
                                <label class="text-sm text-nowrap overflow-hidden overflow-ellipsis" for="selectedRoleId">Selecione o Perfil:</label>
                                <select id="selectedRoleId" name="selectedRoleId"
                                        class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200">
                                    <option value="" disabled
                                            th:selected="*{selectedRoleId == null}">Perfil Usuário</option>
                                    <option th:each="role : ${rolesList}"
                                            th:value="${role.id}"
                                            th:text="${role.title}"
                                            th:selected="*{roles.isEmpty()} ? ${role.id} == 2 : ${role.id} == *{getFirstRole()}"></option>
                                </select>
                            </div>

                            <div class="flex flex-col w-full col-span-2 sm:col-span-1" th:if="*{id}">
                                <label for="active">Ativo:</label>
                                <select id="active" name="active"
                                        class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200">
                                    <option th:value="true" th:text="'Sim'" th:selected="*{active == true}"></option>
                                    <option th:value="false" th:text="'Não'" th:selected="*{active == false}"></option>
                                </select>
                            </div>

                            <input type="hidden" id="id" th:field="*{id} "/>

                            <div class="col-span-2 lg:col-span-4 text-center">
                                <button type="submit" class="text-sm inline-block rounded-lg bg-slate-900 py-2.5 px-8 text-white cursor-pointer active:bg-blue-400 hover:bg-blue-500 transition transition-300" >Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Panel 2-->
                <div class="w-full bg-white rounded-lg my-4">
                    <input type="checkbox" id="panel2" class="peer hidden" th:checked="${true}">
                    <label for="panel2" class="text-slate-200 tracking-wide block bg-slate-900 py-4 px-4 rounded-lg cursor-pointer border-2 border-slate-600 hover:bg-slate-800 hover:border-blue-500">
                        <div class="flex items-center">
                            <span class="material-symbols-outlined mr-4">person_search</span> Buscar Usuários
                        </div>
                    </label>

                    <!--Start Card Formulario Busca e Listagem-->
                    <div class="flex flex-col justify-center peer-checked:max-h-full max-h-0 overflow-hidden overscroll-contain transition-max-height duration-500 ease-in-out">
                        <div id="search-panel">
                            <div th:replace="~{sessionManagement/sessionFragments/systemUserList-search :: systemUser-search}"></div>
                        </div>
                        <div class="mt-2">
                            <div class="pb-4 px-4 rounded-lg" id="datatable-panel">
                                <div th:replace="~{sessionManagement/sessionFragments/systemUserList-datatable :: systemUser-datatable}"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </main>
</body>
<script th:src="@{/js/sessionManagement.js}"></script>
</html>
