<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/template :: head}"></head>
<body>
    <nav th:replace="~{fragments/template :: menu}"></nav>
    <h1>System Users</h1>
    <div id="search-panel">
        <div th:replace="~{sessionManagement/sessionFragments/systemUserList-search :: systemUser-search}"></div>
    </div>
    <hr style="height: 2px; background-color: #333; width: 70%; margin: 20px auto 20px 0;">
    <div id="datatable-panel">
        <div th:replace="~{sessionManagement/sessionFragments/systemUserList-datatable :: systemUser-datatable}"></div>
        <p th:if="${message}" th:text="${message}"></p>
    </div>
</body>
<script th:src="@{/js/sessionManagement.js}"></script>
</html>