<div th:fragment="systemUser-datatable">
    <div class="overflow-auto">

        <!--Main Table Start-->
        <table class="table-auto w-full text-base" id="systemUserDatatable">
            <thead class="font-light text-sm text-slate-600 text-left tracking-wide">
            <tr class="bg-slate-200">
                <th class="text-sm rounded-l-lg py-2 px-4">Login</th>
                <th class="text-sm pl-4">Nome</th>
                <th class="text-sm pl-4">E-mail</th>
                <th class="text-sm pl-4">Perfil</th>
                <th class="text-sm pl-4">UBS</th>
                <th class="text-sm pl-4">Ativo</th>
                <th class="text-sm rounded-r-lg py-2 px-4">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr class="overflow-hidden border-slate-200 text-slate-600 w-full hover:bg-slate-50 active:bg-slate-200"
                th:each="user : ${systemUsersPage.content}">
                <td class="border-b text-sm py-2 pl-4" th:text="${user.username}"></td>
                <td class="border-b text-sm py-4 pl-4 text-nowrap" th:text="${user.name}"></td>
                <td class="border-b text-sm pl-4" th:text="${user.email}"></td>
                <td class="border-b text-sm pl-4">
                    <label>
                        <select class="text-xs rounded-lg border border-stroke py-1 pl-2 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200">
                            <option th:each="role : ${user.roles}" th:text="${role.title}"></option>
                        </select>
                    </label>
                </td>
                <td class="border-b text-sm pl-4 text-nowrap"
                    th:text="${user.basicHealthUnit} ? ${user.basicHealthUnit.name} : 'Desvinculado'"></td>
                <td class="border-b text-sm py-2 pl-4">
                    <div th:classappend="${user.active ? 'bg-green-400' : 'bg-red-400'}"
                         class="inline-block px-4  rounded-xl" th:text="${user.active ? 'Sim' : 'Não'}"></div>
                </td>
                <td class="border-b text-sm pl-4">
                    <div class="inline-flex">
                        <form th:action="@{/systemUser-management}" method="post">
                            <input type="hidden" name="id" th:value="${user.id}"/>
                            <button class="inline-flex p-2 rounded-lg hover:bg-slate-100 transition transition-300"
                                    type="submit">
                                <span class="material-symbols-outlined hover:text-blue-400 transition transition-300">edit</span>
                            </button>
                        </form>
                        <form th:action="@{/systemUser-management/delete}" method="post">
                            <input type="hidden" name="id" th:value="${user.id}"/>
                            <button class="inline-flex p-2 rounded-lg hover:bg-slate-100 cursor-pointer transition transition-300" type="submit">
                                <span class="material-symbols-outlined hover:text-red-400 transition transition-300">delete</span>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Pagination Start-->
    <div class="flex flex-1 mt-4 justify-between items-center bg-white" id="paginationPanel">
        <div>
            <label class="text-sm text-slate-500" for="pageSize">Linhas por página:</label>
            <select id="pageSize" name="pageSize"
                    class="rounded-lg text-sm text-slate-500 border border-stroke py-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500">
                <option value="5" th:selected="${systemUsersPage.size == 5}">5</option>
                <option value="10" th:selected="${systemUsersPage.size == 10}">10</option>
                <option value="15" th:selected="${systemUsersPage.size == 15}">15</option>
                <option value="30" th:selected="${systemUsersPage.size == 30}">30</option>
            </select>
        </div>

        <div class="flex items-center" id="pagination">
            <button class="inline-flex p-2 rounded-lg bg-slate-100 hover:bg-slate-200"
                    id="prevPage" th:disabled="${!systemUsersPage.hasPrevious()}" onclick="goToPreviousPage(event)">
                <span class="material-symbols-outlined">keyboard_double_arrow_left</span>
            </button>

            <span class="mx-2 text-sm text-slate-500">Página <span id="currentPage"
                                                                   th:text="${systemUsersPage.number + 1}">1</span> de <span
                    th:text="${systemUsersPage.totalPages}">1</span></span>

            <button class="inline-flex p-2 rounded-lg bg-slate-100 hover:bg-slate-200"
                    id="nextPage" th:disabled="${!systemUsersPage.hasNext()}" onclick="goToNextPage(event)">
                <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
            </button>
        </div>
    </div>
</div>