<div th:fragment="systemUser-search">

    <form id="searchForm" th:action="@{/systemUser-management}" th:object="${searchUser}" th:method="get"
          class="grid grid-flow-row grid-cols-1 sm:grid-cols-4 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 2xl:grid-cols-12 gap-2 rounded-lg gap-x-4 py-4 px-4 w-full">

        <div class="flex flex-col w-full col-span-2 sm:col-span-2 md:col-span-8 lg:col-span-6 2xl:col-span-3">
            <label class="text-sm" for="nameSearch">Nome:</label>
            <input class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                   placeholder="Nome Pessoal" type="text" id="nameSearch" th:field="*{name}" name="name">

        </div>

        <div class="flex flex-col w-full col-span-2 sm:col-span-1 md:col-span-4 lg:col-span-4 xl:col-span-3 2xl:col-span-2">
            <label class="text-sm" for="usernameSearch">Login:</label>
            <input class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                   type="text" id="usernameSearch" th:field="*{username}"
                   placeholder="Nome Usuário:" name="username">
        </div>

        <div class="flex flex-col w-full col-span-2 sm:col-span-1 md:col-span-4 lg:col-span-2 xl:col-span-3 2xl:col-span-2">
            <label class="text-sm text-nowrap overflow-hidden overflow-ellipsis" for="basicHealthUnitSearch">UBS:</label>
            <select class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                    id="basicHealthUnitSearch" name="basicHealthUnit">
                <option th:value="${null}">Selecione</option>
                <option th:each="ubs : ${basicHealthUnits}"
                        th:value="${ubs.id}"
                        th:text="${ubs.name}">
                </option>
            </select>
        </div>

        <div class="flex flex-col w-full col-span-2 sm:col-span-1 md:col-span-4 lg:col-span-2 xl:col-span-3 2xl:col-span-1">
            <label class="text-sm text-nowrap overflow-hidden overflow-ellipsis" for="selectedRoleIdSearch">Perfil:</label>
            <select class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                    id="selectedRoleIdSearch" name="selectedRoleId">
                <option th:value="${null}">Selecione</option>
                <option th:each="role : ${rolesList}"
                        th:value="${role.id}"
                        th:text="${role.title}">
                </option>
            </select>
        </div>

        <div class="flex flex-col w-full col-span-2 sm:col-span-1 md:col-span-4 lg:col-span-2 xl:col-span-3 2xl:col-span-1">
            <label class="text-sm" for="activeSearch">Ativo:</label>
            <select class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                    id="activeSearch" name="active">
                <option th:value="${null}">Selecione</option>
                <option th:value="true" th:text="'Sim'" th:selected="*{active == true}"></option>
                <option th:value="false" th:text="'Não'" th:selected="*{active == false}"></option>
            </select>
        </div>

        <div class="inline-flex col-span-2 justify-center lg:justify-start sm:justify-start md:justify-center items-end gap-x-2 mt-2 sm:col-span-2 md:col-span-12 lg:col-span-4 xl:col-span-3 2xl:col-span-3">
            <button type="submit"
                    class="text-sm inline-block rounded-lg bg-slate-900 py-2.5 px-6 text-white cursor-pointer active:bg-blue-400 hover:bg-blue-500 transition transition-300">Pesquisar</button>
            <button type="button" id="clearButton"
                    class="text-sm inline-block rounded-lg bg-slate-900 py-2.5 px-6 text-white cursor-pointer active:bg-blue-400 hover:bg-red-500 transition transition-300">Limpar</button>
        </div>

        <hr class="col-span-2 sm:col-span-4 md:col-span-12 lg:col-span-12 xl:col-span-12 2xl:col-span-12 mt-2 ">
    </form>
</div>
